body 
{background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar {
  display: none;
}
  h1 {color: #FA198B;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  .image-row a:hover {
    background-color: #B91372;
 }
  a:link, a:visited {color: #E7CFCD;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  img {width: 350px; height: 350px;
  }
  .image-row {display: flex;
    justify-content: center;
  }
  p {color: #E7CFCD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    text-align: center;
    font-size: 21px;
  }
  .top-menu {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.629);
    overflow-y: hidden;
    transition: 0.7s;
    top: 60px;
 }
 
 .top-menu a {
    text-decoration: none;
    font-size: 25px;
    color: #FA198B;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    transition: 0.3s;
    text-align: center;
 }
 
 .top-menu a:hover {
    color: #B91372;
 }
 
 .top-menu .cls_btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
 }
