body
{background-color: rgb(0, 0, 0);
box-sizing: border-box;}
h1 {color: #FA198B;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
}
p {color: #E7CFCD;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 21px;
text-align: left;
}
a {text-decoration: none;
}
.top-menu{
   height: 0%;
   width: 100%;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.629);
   overflow-y: hidden;
   transition: 0.7s;
   top: 60px;
}
 
.top-menu a {
    text-decoration: none;
    font-size: 25px;
    color: #FA198B;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    transition: 0.3s;
    text-align: center;
 }
 
 .top-menu a:hover {
    color: #B91372;
 }
 
 .top-menu .cls_btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
 }
.img1 {
   float: right;
   height: 450px;
   width: 365px;
   padding-right: 25px;
}
.img2 {
   float: left;
   height: 380px;
   width: 380px;
}
.img3 {
   float: right;
   height: 300px;
   width: 500px;
   padding-right: 25px;
}
#more {display: none;}
button {
   background-color: black;
   color: #FA198B;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 17px;
   border: black;
   cursor: pointer;
}
button:hover {
color: #B91372;
}
